body{
    background-color: #f6f8f9;
    font-family: sans-serif;
}

header{
    padding: 0;
    margin: 1rem;
    box-sizing: border-box;
    background-color: white;
}

h1{
    vertical-align: bottom;
    display: inline;
    margin: 0;
    font-size: 3rem;
}

